body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
body {
  background-color: #8b8b8b;
  /* background-image: url(https://i.pinimg.com/originals/80/31/12/803112952a7108f000906544d545256e.gif);
  background-size: cover; */
}
#p5-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

#content {
  position: relative;
  color: white;
  text-align: center;
  padding: 20px;
  z-index: 3;
}

.city-container {
  width: 1400px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  opacity: 0.5;
}

.city {
  width: 100%;
  height: auto;
}
#avatar1 {
  width: 150px;
  position: absolute;
  bottom: 20px;
  left: 120px;
  z-index: 2;
  transition: 1s;
}
#avatar1:hover {
  bottom: 30px;
  transition: 1s;
}
#text {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: 150px;
  left: 200px;
  z-index: 3;
  font-size: 40px;
  width: 1000px;
  visibility: hidden;
  padding: 20px;
}
#avatar1-container:hover #text {
  visibility: visible;
  opacity: 1;
  background-color: white;
  opacity: 0.7;
  border-radius: 20px;
}
#avatar1-container:hover #avatar1 {
  width: 200px;
  left: 20px;
  transition: 1s;
}

#avatar2 {
  width: 130px;
  position: absolute;
  bottom: 20px;
  right: 50px;
  z-index: 2;
  transition: 1s;
}
#avatar2:hover {
  bottom: 30px;
  transition: 1s;
}
#text2 {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  bottom: 150px;
  right: 200px;
  z-index: 3;
  font-size: 40px;
  width: 700px;
  visibility: hidden;
  padding: 20px;
}
#avatar2-container:hover #text2 {
  visibility: visible;
  opacity: 1;
  background-color: red;
  opacity: 0.7;
  border-radius: 20px;
}
#avatar2-container:hover #avatar2 {
  width: 200px;
  right: 20px;
  transition: 1s;
}

#container2 {
  /* width: 100vw;
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/05/1b/61/051b6199d99364a851b82feefcbb34ae.gif");
  background-repeat: no-repeat;
  background-size: cover; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}
#cloud {
  width: 600px;
  transition: 1s;
  opacity: 0.7;
}
#cloud-container {
  /* position: absolute;
  top: 0px; 
  left: 0;  */
  z-index: 2;
}
/* #cloud-container {
  position: absolute;
  top: 0px;
  left: 400px;
  z-index: 2;
} */
/* #cloud-container2 {
  position: absolute;
  top: 100px;
  left: 900px;
  z-index: 2;
} */
